@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  font-weight: bold;
}

p,
a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  color: #1c1c1c;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
  padding: 20px 60px;
  background-color: white;
  > img {
    height: 40px;
  }
  > a {
    font-family: lexend, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 14px;
    transition: color 0.3s;
  }
  > a:hover {
    color: red;
  }
  > div {
    display: flex;
    align-items: center;
    gap: 20px;
    > a.sign-in {
      font-family: lexend, sans-serif;
      display: flex;
      align-items: center;
      color: #e74c3c;
      font-size: 14px;
      text-decoration: none;
      gap: 5px;
    }
    > a.post-listing {
      font-family: lexend, sans-serif;
      background-color: #e74c3c;
      color: white;
      padding: 8px 18px;
      border-radius: 20px;
      font-size: 14px;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(assets/Family.svg);
  background-repeat: no-repeat;
  height: 100vh;
  > h1 {
    margin: 3.9em 0 0 0;
    color: #1c1c1c;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 64px;
    margin-bottom: 20px;
    > span {
      color: #e74c3c;
      animation: myAnim 2s ease 0s 1 normal forwards;
    }
  }
  > h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #1c1c1c;
    margin-bottom: 30px;
  }
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;

    > div {
      display: flex;
      gap: 20px;
      > p {
        padding: 7px;
        border-radius: 5em;
        background-color: #ffffff;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 16px;
        color: #1c1c1c;
        cursor: pointer;
        transition: color 0.3s;
        padding: 10px 24px;
      }
      > p:hover {
        color: #e74c3c;
      }

      > .p-places {
        background-color: #e74c3c;
        color: white;
      }
      > .p-places:hover {
        color: #e74c3c;
        background-color: white;
        transition: color 0.3s, background-color 0.3s;
      }
    }
  }
}

.search-container {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 40px;
  padding: 10px 20px;
  width: 600px;
  gap: 20px;
}

.search-input {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  > input {
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}

.search-location {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  border-left: 1px solid #979797;
  > select {
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: transparent;
    color: #979797;
  }
}

.search-button {
  background-color: #e74c3c;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  margin-top: 10px;
  > div {
    display: flex;
    gap: 20px;
    > a {
      display: flex;
      text-decoration: none;
      background-color: #ffffff;
      border: 1px solid #e8e8e8;
      border-radius: 36px;
      font-size: 20px;
      align-items: center;
      gap: 16.5px;
      padding: 10px 20px;
    }
  }

  > a {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    background-color: #e93740;
    border-radius: 35px;
    padding: 16px;
    color: #ffffff;
    margin: 0 0 80px 0;
  }
}

.fa-thumbs-up {
  background-color: #fdebec;
  color: #e93740;
  padding: 18px;
  font-size: 24px;
  border-radius: 50px;
}

.fa-house {
  background-color: #f1f8ed;
  color: #77b747;
  padding: 18px;
  font-size: 24px;
  border-radius: 50px;
}
.fa-compass {
  background-color: #f6edf4;
  color: #a54a95;
  padding: 18px;
  font-size: 24px;
  border-radius: 50px;
}
.fa-dollar-sign {
  background-color: #eaf2f9;
  color: #2d7bc0;
  padding: 18px;
  font-size: 24px;
  border-radius: 50px;
}
.fa-ellipsis {
  background-color: #fef3eb;
  color: #f68235;
  padding: 18px;
  font-size: 24px;
  border-radius: 50px;
}

.Listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > div {
    gap: 10px;
    display: flex;
    align-items: center;
    > a {
      background-color: #e8e8e8;
      border-radius: 36px;
      padding: 12px 24px;
      color: #494949;
    }
    > span {
      font-size: 16px;
      padding: 12px 24px;
      border-radius: 36px;
      background-color: #e74c3c;
      font-family: "Plus Jakarta Sans", sans-serif;
      > a {
        color: white;
        text-decoration: none;
      }
    }
    > button {
      background-color: #e8e8e8;
      color: #494949;
      border: none;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    button:hover {
      background-color: #e74c3c;
      color: white;
      transition: color 0.3s, background-color 0.3s;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;

  > .fa-circle-user {
    display: flex;
    font-size: 34px;
    align-items: center;
  }

  > div {
    display: flex;
    flex-direction: column;

    > h2 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 20px;
      color: #1c1c1c;
    }

    > p {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 16px;
      color: #494949;
    }
  }
}

.fa-heart {
  background-color: #fdebec;
  position: relative; /* Adicionado */
  color: #e93740;
  padding: 18px;
  border-radius: 50px;
  font-size: 24px;
  left: 245px;
  cursor: pointer;
}

.House {
  position: relative; /* Adicionado */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.house-info {
  display: flex;
  flex-direction: column;
  border: 1px solid #494949;
  border-radius: 8px;
  img {
    border-radius: 8px;
    width: 519px;
    height: 325px;
  }
  > .chip {
    position: relative;
    padding: 12px;
    width: 80px;
    left: 420px;
    bottom: 310px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #77b747;
    border-radius: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    color: white;
  }
  > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    > p {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 20px;
      color: #1c1c1c;
      > span {
        color: #e74c3c;
        font-weight: bold;
      }
    }
    > h2 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 24px;
      font-weight: 600;
      color: #1c1c1c;
    }

    > div {
      display: flex;
      gap: 20px;
      > p {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 16px;
        color: #1c1c1c;
      }
      > p:nth-child(2) {
        border-left: 1.5px solid #030303;
        padding: 0px 20px;
        border-right: 1.5px solid #030303;
      }
    }
  }
}

.insights {
  background-color: #f4f4f4;
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  gap: 20px;
  padding: 95px 250px;

  > div {
    display: flex;
    gap: 20px;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 16px;
      padding: 70px;
      background-color: #1c1c1c;
      color: #ffffff;

      > p {
        color: #ffffff;
      }
    }
  }

  > h1 {
    width: 456px;
  }
}

.featured-location {
  > h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 48px;
    color: #030303;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 94px;
  }
}

.location-grid {
  display: flex;
  > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.Location {
  display: flex;
  justify-content: center;
  width: 1620px;
  margin: 0 auto;
}

.Jaffna {
  background-image: url(assets/Jaffna.svg);
  display: flex;
  align-items: flex-end;
  transition: transform 0.2s cubic-bezier(0.4, 0.2, 0.2, 1);
  transform-style: preserve-3d;
  will-change: transform;
  cursor: pointer;
  background-repeat: no-repeat;
  width: 379px;

  > div {
    display: flex;
    position: absolute;

    > h2 {
      justify-content: flex-end;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 24px;
      font-weight: 400;
      color: white;
      padding: 15px;
      position: relative;
    }
  }
}

.Kandy,
.Colombo,
.Anuradhapura,
.Badulla,
.Gampaha {
  display: flex;
  align-items: flex-end;
  transition: transform 0.2s cubic-bezier(0.4, 0.2, 0.2, 1);
  transform-style: preserve-3d;
  will-change: transform;
  cursor: pointer;
  > div {
    display: flex;
    position: absolute;

    > h2 {
      justify-content: flex-end;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 24px;
      font-weight: 400;
      color: white;
      padding: 15px;
      position: relative;
    }
  }
}

.Colombo:hover {
  transform: rotateX(5deg) rotateY(-5deg);
}
.Kandy:hover {
  transform: rotateX(-5deg) rotateY(5deg);
}
.Anuradhapura:hover {
  transform: rotateX(10deg) rotateY(-10deg);
}
.Badulla:hover {
  transform: rotateX(-10deg) rotateY(10deg);
}
.Gampaha:hover {
  transform: rotateX(10deg) rotateY(10deg);
}
.Jaffna:hover {
  transform: rotateX(-10deg) rotateY(-10deg);
}

.Colombo {
  display: flex;
  position: relative;
  align-items: flex-end;

  > h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    position: absolute;
    padding: 15px;
  }
  > img {
    width: 379px;
    height: 538px;
  }
}

.Important-links {
  > h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 48px;
    color: #030303;
    text-align: center;
    margin: 50px 0;
  }

  > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;

    > div {
      > img {
        width: 879px;
        height: 599px;
      }
      > h2 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 24px;
        color: #030303;
        margin-bottom: 10px;
      }
      > p {
        > span {
          color: #e74c3c;
          font-weight: bold;
        }
      }
    }
  }

  > div {
    > h2 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 24px;
      color: #030303;
      margin-bottom: 10px;
    }

    > p {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 16px;
      color: #494949;
      margin-bottom: 20px;

      > span {
        color: #e74c3c;
        font-weight: bold;
      }
    }
  }
}

/* Container dos cards menores */
.Important-links-extra {
  display: flex;
  flex-direction: column;
  gap: 25px;

  > div {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    background-color: #fff;
  }

  > img {
    width: 120px;
    height: 90px;
  }
}

/* Texto do card */
.text-content {
  display: flex;
  flex-direction: column;
  font-family: "Plus Jakarta Sans", sans-serif;

  > h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    color: #030303;
    width: 429px;
  }

  > p {
    font-size: 14px;
    width: 429px;
    > span {
      color: #e74c3c;
      font-weight: bold;
    }
  }
}

footer {
  margin: 100px 0 0 0;
  display: flex;
  background-color: #f4f4f4;
  flex-direction: column;
  align-items: center;
  > div {
    display: flex;
    padding: 60px;
    justify-content: flex-start;
    gap: 12em;
    > div {
      > a {
        color: white;
        background-color: #e74c3c;
        padding: 10px;
        border-radius: 50px;
      }

      > p {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 16px;
        color: #1c1c1c;
        width: 413px;
        margin: 18px 0 34px 0;
      }
    }
  }
}

.footer-help {
  display: flex;
  gap: 50px;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    > p {
      font-size: 16px;
      color: #e74c3c;
      text-align: center;
      font-weight: bold;
    }
  }
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  > h2 {
    color: #e74c3c;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
  }

  > p {
    width: 275px;
    margin: 0;
  }

  > input {
    padding: 15px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 47px;
    width: 100%;
  }

  > a {
    background-color: #e74c3c;
    color: white;
    border-radius: 47px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
    width: 100%;
    text-align: center;
  }
}
